.btn {
    width: 100%;
    background-color: rgb(3, 79, 122);
    border: none;
}
::ng-deep .mat-dialog-container{
    background-color:#1082df ;
    margin-left: 50px !important;
}
@media screen and (max-width: 736px)   {
    ::ng-deep .mat-dialog-container{
        background: #1082df  ;
        margin-left: 10px !important;
    }
}
.desks {

    color: #222222;
}


/* desks */

  
.table{
  line-height: 0.5;

}
thead{
  border-top: none;
  border-bottom: 2px solid white;
}
td{
  border-bottom: 1.5px solid white;
}
  