


<div class="wrapper fadeInDown">
    <div id="formContent">
      <span class="material-icons"style="font-size: 50px; color: #33648c">person</span>
      <form #loginForm= "ngForm" (ngSubmit) = "onSubmit()" autocomplete="off">
          <div *ngIf="isAuth" class="alert alert-danger isAuth">
            <span>Invalid username or password</span>
          </div>
        <input type="text" id="login" #username="ngModel" class="fadeIn second" name="username" placeholder="username" ngModel autocomplete="off">
        <input type="password" id="password"  #password="ngModel"class="fadeIn third" name="password" placeholder="password" ngModel>
        <button type="submit" style="background-color: #33648c; border: none; width: 85%;
        color: white; height: 50px; border-radius: 5px; margin-top: 10px;" class="fadeIn fourth" value="Log In">Log In </button>
      
      </form>
    </div>
  </div>
  <div *ngIf="isLoading" class="loading-spinner" style=" transform: translate(50%);">
      <div class="spinner-border" role="status" style=" transform: translate(50%);">
          <span class="sr-only">Loading...</span>
        </div>
  </div>