
.main{
    margin-top: 0%;
    background: url('src/assets/Ruka-01.png') ;
    background-size: cover !important;
    height: 690px;
    width: 25%;
    margin: auto !important;
}
 .buttons{
    padding: 20px !important; 
    text-align: center;
    border: none;
    border-radius: 5px;

}

img:focus {
    background: rgb(14,142,243, 0.2) !important;
    border-radius: 5px;
    outline: none;
}
.btn{
    width: 80%;
    background-color: #0e8ef3;
    border: none;
}

.btn-warning{
    background-color: #214370 !important;    
}
.new{
    width: 45%;
    height: 100px;
    color: white;
}
.row{
    width: 80%;
}
.lista{
    color: white;
    margin-bottom: 3px;
    width: 51%;
}
.kartica{
    transform: translate(20%);
}
.virman{
    transform: translate(40%);
}
.ne_ometaj{
    transform: translate(20%, -20%);
}
.elek_meni{
    transform: translate(14%, -30%);

}
.components{
    transform: translate(5%, 20%);
    width: 200%;
}

.meni{
    transform: translate(30%) !important;
}

@media screen and (max-width: 376px)   {
    .components{
        transform: translate(0, 10%) !important;
        width: 100% !important;
    }
    .buttons{
        transform: translate(0, 10%) !important;
    }
    .placanje{
        transform: translate(2%, -14%) !important;
    }
    .ne_ometaj{
        transform: translate(28%, -36%) !important;
    }
    .elek_meni{
        transform: translate(16%, -47%) !important;
    }
    .main{
        width: 100%;
    }
  
}
@media screen and (max-width: 736px)   {
    .kartica{
        transform: translate(20%);
    }
    .virman{
        transform: translate(40%);
    }
    .ne_ometaj{
        transform: translate(20%, -20%);
    }
    .elek_meni{
        transform: translate(14%, -25%);
    
    }
    .main{
        width: 100%;
    }
    .components{
        transform: translate(0, 15%);
        width: 100% !important;
    }
    .main{
        margin-left: 0%;
        margin-top: 0%;
    }
    .row{
        width: 100%;
    }
    .meni{
        transform: translate(40%) !important;
    }
    .card{
        width: 100%;
        border-radius: 0%;
    }
    .new{
        width: 150px !important;
        height: 100px;
    }
    .new:focus{
        color:black

    }
    .btn:focus{
        width: 230px;
        transform: translate(0%) !important;
        border: none;
    }
    .lista{
        text-align: center;
        width: 51%;
    }
    .meniButton{
        background-color: #2d4859;
    }
 

}
