<div>
    <h4 style="font-weight: bold; color: white;">Da li ste sigurni da zelite obrisati artikal?</h4>

    <div id="outer">
        <div class="innerLeft">
            <button class="btn btn-success" (click)= "Delete()" style="width: 80px; background-color: rgb(9, 238, 77); ; border: none;">DA</button>
        </div>
        <div class="innerRight">
            <button class="btn btn-success" style="width: 80px; background-color: red; border: none;;" mat-dialog-close >NE</button>
        </div>
    </div>
</div>
